/*The-Odin-Project*/
body {
    background: #00010f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#btn {
    margin-top: 30px;
}

.container {
    margin-top: 30px;
    display: grid;    
    width: 650px;
    height: 650px;
    /*border: 2px solid red;*/
}

.content-div {
    width: auto;
    height: auto;
    border: 2px solid red;
}
